@font-face {
    font-family: Gotham;
    src: url(../fonts/Gotham-Bold.otf)
}
@font-face {
    font-family: Proxima;
    src: url(../fonts/proximanova-regular.otf)
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    width: 900px;
    margin: 0 auto;
}
.team {
    background-color: #f3f3f3;
}
.team__inner {
    text-align: center;
}
.team__title {
    font-family: "Gotham";
    font-size: 30px;
    font-family: "Gotham";
    color: rgb(48, 48, 48);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 50px;    
    margin: 0;  
    padding-top: 50px;
}
.team__line {
    width: 184px;
    height: 3px;
    background-color: #303030;
    margin: 0 auto;
}
.team__text {
    font-family: "Proxima";
    font-size: 16px;
    color: rgb(90, 90, 90);
    line-height: 25px;
    padding-top: 30px;
    width: 550px;
    margin: 0 auto;
}
.cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 80px;
    padding-top: 55px;
}
.item {
    text-align: center;
    background-color: #fff;
    min-width: 210px;
    box-shadow: 0px 2px 4px 0px rgba(0, 1, 1, 0.2);
    padding: 20px 35px;
}
.item__img {
    margin-bottom: 10px;
}
.item__title {
    font-family: "Gotham";
    font-size: 16px;
    color: rgb(48, 48, 48);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 16px;
    margin: 0 0 10px 0;
}
.item__text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: rgb(48, 48, 48);
    font-style: italic;
    line-height: 12px;
    margin: 0 0 10px 0;
    text-transform: capitalize;
}
.icons .fa {
    font-size: 20px;
    color: #7f7f7f;
    margin: 0 10px;
    background-color: transparent;
}




.awesome {
    background-color: #fff;
    font-family: "Tahoma";
}
.awesome__inner {
    text-align: center;
    padding-top: 55px;
}
.awesome__title {
    font-size: 36px;
    color: #212121;
    font-weight: 400;
    line-height: 80px;
    text-transform: uppercase;
    margin: 0;
}
.awesome__line {
    width: 66px;
    height: 2px;
    background-color: #ff8b38;
    margin: 0 auto; 
}
.awesome__text {
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
    margin-top: 30px;
}
.awesome__cards {
    display: flex;
    justify-content: space-between;

    padding-bottom: 75px;
    padding-top: 80px;
}
.awesome__item {
    max-width: 450px;
    text-align: center;
}
.awesome__item .fa {
    color: #ff8b38;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    font-size: 30px;
    margin: 0 auto;
    border: 2px solid #ff8b38;
    border-radius: 50%;
}
a {
    text-decoration: none;
}
.awesome__item__title {
    font-size: 22px;
    color: #333333;
    margin-top: 30px;
    line-height: 20x;
    font-weight: 400;
    text-transform: capitalize;
}
.awesome__item__text {
    margin: 0;
    font-size: 14px;
    color: #86878b;
    margin-top: 30px;
    line-height: 20px;
    max-width: 330px;
    padding-bottom: 15px;
}
